.app {
  display: block;
}
.calc-wrapper {
}

h1 {
  align-content: center;
}

@media only screen and (min-width: 600px) {
  .app {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
  }

  h1 {
    align-content: center;
  }

  .calc-wrapper {
    width: 400px;
    height: 600px;
  }

  .row {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .table {
    width: 50%;
  }
}
